<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title><%= current_page.data.title || "Bubble Bubble" %></title>
    <%= stylesheet_link_tag "site" %>
	<%= javascript_include_tag "vendors/svg.min" %>
	<%= javascript_include_tag "vendors/svg.filter.min" %>
  </head>
  <body>
    <%= yield %>
	<%= javascript_include_tag "app" %>
  </body>
</html>
